SoundMaps/Temp/
SoundMaps/Library/ShaderCache/
SoundMaps/Library/metadata/
SoundMaps/Assets/Standard Assets/
SoundMaps/Library/UnityAssemblies/
SoundMaps/ScriptAssemblies/
SoundMaps/obj/
Build/

SoundMaps/SoundMaps.CSharp.csproj.user